<template>
  <v-container
    fluid
    secondary
    fill-height
    :pa-0="$vuetify.breakpoint.smAndDown"
  >
    <v-row no-gutters class="fill-height" justify="center">
      <v-col cols="12" md="10">
        <v-toolbar flat dark color="primary">
          <v-toolbar-title class="title font-weight-medium">
            {{ title }}
          </v-toolbar-title>
        </v-toolbar>
        <v-card tile :class="{ 'fill-height': !!poll.title }">
          <template v-if="loading">
            <v-card-text class="text-center py-10">
              <v-progress-circular
                indeterminate
                color="accent"
              ></v-progress-circular>
            </v-card-text>
          </template>
          <template v-else-if="!loading && poll.title">
            <v-card-text class="pa-5 title" v-html="description"></v-card-text>
            <h5 class="px-2 mb-3 d-inline">Options</h5>
            <v-tooltip right bottom open-on-click>
              <template v-slot:activator="{ on, attrs }">
                <v-icon color="primary" dark v-bind="attrs" v-on="on">
                  {{ mdiHelp }}
                </v-icon>
              </template>
              <span>Toucher une option pour vous y inscrire</span>
            </v-tooltip>
            <v-divider></v-divider>
            <v-list two-line class="pt-0">
              <v-list-item-group v-model="selected" active-class="accent--text">
                <template v-for="(choice, index, key) in poll.choices">
                  <v-list-item :key="key">
                    <template v-slot:default>
                      <v-list-item-content>
                        <v-list-item-title
                          v-text="choice.title"
                        ></v-list-item-title>
                        <v-list-item-subtitle
                          v-text="choice.subtitle"
                        ></v-list-item-subtitle>
                      </v-list-item-content>

                      <v-list-item-action class="mr-4">
                        <v-chip
                          pill
                          :class="[
                            { 'accent--text': !isFull(choice) },
                            { accent: isFull(choice) }
                          ]"
                        >
                          <v-avatar left color="accent">
                            <v-icon size="20" color="white">
                              {{ userIcon }}
                            </v-icon>
                          </v-avatar>
                          {{ choice.users.length + " " }}
                          <span class="ml-1" v-if="choice.maxUser">
                            / {{ choice.maxUser }}
                          </span>
                        </v-chip>
                      </v-list-item-action>
                    </template>
                  </v-list-item>
                  <v-divider
                    v-if="index < poll.choices.length"
                    :key="index"
                  ></v-divider>
                </template>
              </v-list-item-group>
            </v-list>
          </template>
          <template v-else>
            <v-card-text class="py-10">
              <h4 class="text-center">
                Le sondage que vous rechercher n'est plus disponible
              </h4>
            </v-card-text>
          </template>
        </v-card>
      </v-col>
    </v-row>
    <v-bottom-sheet :inset="$vuetify.breakpoint.mdAndUp" v-model="validateName">
      <v-btn
        @click="close()"
        color="white"
        fab
        small
        depressed
        :class="[
          'close-btn',
          { 'mobile-close-btn': $vuetify.breakpoint.smAndDown }
        ]"
        v-if="validateName"
      >
        <v-icon>{{ mdiClose }}</v-icon>
      </v-btn>
      <div v-touch="{ down: () => close() }" class="pa-0 text-right">
        <v-list class="px-5 d-flex" v-if="currentChoice">
          <v-list-item class="px-0">
            <v-spacer></v-spacer>
            <h4 class="text-center" v-if="currentChoice.users.length === 0">
              Pas encore d'inscrit
            </h4>
            <div
              class="mx-2 d-inline text-center"
              v-for="(user, index) of currentChoice.users"
              :key="index"
            >
              <v-avatar>
                <v-icon>{{ mdiAvatar }}</v-icon>
              </v-avatar>
              <h5>{{ user.name }}</h5>
            </div>
            <v-spacer></v-spacer>
          </v-list-item>
        </v-list>
        <v-divider></v-divider>
        <v-list>
          <v-list-item v-if="canBeSubscribed">
            <v-list-item-content>
              <v-text-field
                dense
                autofocus
                label="Nom"
                hide-details
                v-model="userName"
                placeholder="Dupont"
                @keyup.enter.native="subscribe"
              ></v-text-field>
            </v-list-item-content>
            <v-list-item-icon class="mr-4">
              <v-btn
                height="50"
                width="50"
                outlined
                fab
                color="success"
                @click="subscribe()"
                :loading="saveLoading"
              >
                <v-icon>{{ mdiCheck }}</v-icon>
              </v-btn>
            </v-list-item-icon>
          </v-list-item>
          <v-list-item v-else>
            <v-list-item-content>
              <h4 class="text-center">Plus de place pour cette option</h4>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </div>
    </v-bottom-sheet>
  </v-container>
</template>

<script lang="ts">
import Vue from "vue";
import store from "@/store";
import { Poll, PollChoice } from "@/store/modules/poll";
import {
  mdiCheck,
  mdiAccountOutline,
  mdiAccountCheckOutline,
  mdiClose,
  mdiHelpCircle
} from "@mdi/js";
export default Vue.extend({
  data() {
    return {
      userName: "",
      loading: false,
      saveLoading: false,
      mdiCheck: mdiCheck,
      mdiClose: mdiClose,
      userIcon: mdiAccountOutline,
      validateName: false,
      mdiHelp: mdiHelpCircle,
      mdiAvatar: mdiAccountCheckOutline,
      selected: undefined as undefined | number
    };
  },
  watch: {
    selected(value) {
      if (value !== undefined) {
        this.validateName = true;
      }
    },
    validateName(value) {
      if (value === false) {
        this.selected = undefined;
      }
    }
  },
  computed: {
    poll(): Poll {
      return store.getters.pollModule.poll;
    },
    title(): string {
      if (this.loading) {
        return "Chargement du sondage";
      } else if (this.poll.title) {
        return `${this.poll.title} - ${this.poll.date}`;
      } else {
        return "Oups";
      }
    },
    currentChoice(): PollChoice | null {
      if (this.selected === undefined) return null;
      return this.poll.choices[this.selected];
    },
    canBeSubscribed(): boolean {
      if (!this.currentChoice) {
        return false;
      }
      if (this.currentChoice.maxUser === 0) {
        return true;
      }
      if (this.currentChoice.users.length >= this.currentChoice.maxUser) {
        return false;
      }
      return true;
    },
    description(): string {
      return this.poll.description.replace(/(?:\r\n|\r|\n)/g, "<br />");
    }
  },
  methods: {
    async subscribe() {
      try {
        this.saveLoading = true;
        if (this.selected === undefined) {
          return;
        }
        if (
          this.poll.choices[this.selected].maxUser !== 0 &&
          this.poll.choices[this.selected].users.length >=
            this.poll.choices[this.selected].maxUser
        ) {
          return;
        }
        await store.dispatch.pollModule.addUserToChoice({
          index: this.selected,
          user: {
            name: this.userName,
            date: Date.now().toString()
          }
        });
      } catch (err) {
        console.error(err);
      } finally {
        this.saveLoading = false;
        this.validateName = false;
      }
    },
    isFull(option: PollChoice): boolean {
      if (option.users.length >= option.maxUser) return true;
      return false;
    },
    close() {
      this.validateName = false;
    }
  },
  async mounted() {
    if (this.$route.params.pollId) {
      try {
        this.loading = true;
        await store.dispatch.pollModule.fetchPoll(this.$route.params.pollId);
        document.title = this.poll.title;
      } finally {
        this.loading = false;
      }
    }
    store.commit.navigationModule.SET_DRAWER_DISPLAY(false);
    store.commit.navigationModule.SET_SIDE_PANEL_DISPLAY(false);
  }
});
</script>

<style>
.close-btn {
  position: absolute;
  margin-top: -45px;
  right: 15%;
}

.mobile-close-btn {
  right: 5px;
}
</style>
