<template>
  <v-container fluid pa-0>
    <v-stepper v-model="e1">
      <v-stepper-header elvevation="0">
        <v-stepper-step :complete="e1 > 1" step="1">Général</v-stepper-step>

        <v-divider></v-divider>

        <v-stepper-step :complete="e1 > 2" step="2">Créneaux</v-stepper-step>

        <v-divider></v-divider>

        <v-stepper-step :complete="e1 > 3" step="3">Publication</v-stepper-step>
      </v-stepper-header>

      <v-divider></v-divider>

      <v-stepper-items>
        <v-stepper-content :step="1">
          <h3 class="text-center">Nouveau sondage</h3>
          <v-row justify="center">
            <v-col cols="8">
              <v-form>
                <v-text-field
                  required
                  outlined
                  label="Titre *"
                  v-model="poll.title"
                ></v-text-field>
                <v-text-field
                  required
                  outlined
                  label="Date *"
                  placeholder="01/03/2020"
                  v-model="poll.date"
                ></v-text-field>
                <v-textarea
                  outlined
                  label="Description"
                  v-model="description"
                ></v-textarea>
              </v-form>
            </v-col>
          </v-row>

          <v-btn color="primary" @click="nextStep()" class="float-right"
            >Continuer</v-btn
          >
        </v-stepper-content>

        <v-stepper-content :step="2">
          <v-row justify="center" class="my-5">
            <v-col v-if="poll.choices.length" cols="8">
              <v-card>
                <v-list two-line class="py-0">
                  <template v-for="(choice, index, key) in poll.choices">
                    <v-btn
                      class="success mt-n3"
                      depressed
                      absolute
                      fab
                      height="20px"
                      width="20px"
                      style="left:49%"
                      @click="editChoice(index)"
                      :key="`btn-${index}`"
                      >+</v-btn
                    >
                    <v-list-item :key="key" @click="editChoice(index, true)">
                      <v-list-item-content>
                        <v-list-item-title
                          v-text="choice.title"
                        ></v-list-item-title>
                        <v-list-item-subtitle
                          v-text="choice.subtitle"
                        ></v-list-item-subtitle>
                      </v-list-item-content>

                      <v-list-item-action v-if="choice.maxUser">
                        <v-list-item-action-text
                          v-text="choice.action"
                        ></v-list-item-action-text>
                        <v-icon color="warning" class="mr-1">{{
                          userIcon
                        }}</v-icon>
                        <span
                          >{{ choice.users.length }} /
                          {{ choice.maxUser }}</span
                        >
                      </v-list-item-action>

                      <v-list-item-action>
                        <v-btn icon @click.stop="deleteAt(index)">
                          <v-icon color="error">{{ mdiTrash }}</v-icon>
                        </v-btn>
                      </v-list-item-action>
                    </v-list-item>
                    <v-divider
                      v-if="index + 1 < poll.choices.length"
                      :key="index"
                    ></v-divider>
                    <v-btn
                      class="success mt-n3"
                      depressed
                      absolute
                      fab
                      height="20px"
                      width="20px"
                      style="left:49%"
                      :key="`btn-end-${index}`"
                      @click="editChoice(index + 1)"
                      v-if="index + 1 === poll.choices.length"
                      >+</v-btn
                    >
                  </template>
                </v-list>
              </v-card>
            </v-col>
            <v-col v-else class="text-center">
              <v-btn color="primary" @click="editChoice(0)"
                >Ajouter une option</v-btn
              >
            </v-col>
          </v-row>
          <v-btn color="primary" @click="nextStep()" class="float-right mx-2"
            >Continuer</v-btn
          >
          <v-btn text class="float-right" @click="nextStep(false)"
            >Précédent</v-btn
          >
        </v-stepper-content>

        <v-stepper-content :step="3" class="text-center">
          <v-row justify="center" align-content="start">
            <v-col cols="12">
              <h2>Souhaitez-vous publier ce sondage</h2>
            </v-col>
            <v-col cols="2">
              <v-btn blcok outlined @click="nextStep(false)">Retour</v-btn>
            </v-col>
            <v-col cols="4">
              <v-btn
                block
                large
                class="success"
                :loading="loading"
                @click="savePoll()"
                >Publier</v-btn
              >
            </v-col>
          </v-row>
        </v-stepper-content>
      </v-stepper-items>
    </v-stepper>
  </v-container>
</template>

<script lang="ts">
import Vue from "vue";
import store from "@/store";
import { mdiDotsVertical, mdiAccount, mdiTrashCan, mdiPen } from "@mdi/js";
import { Poll } from "@/store/modules/poll";

export default Vue.extend({
  props: {
    pollId: {
      type: String
    }
  },
  data() {
    return {
      e1: 1,
      steps: 3,
      loading: false,
      mdiPen,
      userIcon: mdiAccount,
      mdiTrash: mdiTrashCan,
      verticalMoreIcon: mdiDotsVertical
    };
  },
  computed: {
    poll(): Poll {
      return store.getters.pollModule.poll;
    },
    description: {
      get(): string {
        return this.poll.description;
      },
      set(value: string) {
        this.poll.description = JSON.parse(JSON.stringify(value));
      }
    },
    isFirstStepValid(): boolean {
      if (this.poll.title !== "" && this.poll.date !== "") {
        return true;
      } else {
        return false;
      }
    }
  },
  methods: {
    nextStep(forward: boolean) {
      if (forward === false) {
        this.e1 -= 1;
      } else {
        this.e1 += 1;
      }
    },
    editChoice(index: number, edit = false) {
      store.commit.pollModule.SET_CHOICE({ index, edit });
      store.commit.navigationModule.SET_SIDE_PANEL_DISPLAY(true);
    },
    deleteAt(index: number) {
      this.poll.choices.splice(index, 1);
    },
    async savePoll() {
      try {
        this.loading = true;
        if (this.poll.id === undefined) {
          this.createPoll();
        } else {
          this.updatePoll();
        }
        this.$router.push({ name: "polls" });
      } finally {
        this.loading = false;
      }
    },
    updatePoll() {
      return store.dispatch.pollModule.updatePoll(this.poll);
    },
    createPoll() {
      return store.dispatch.pollModule.createPoll(this.poll);
    }
  },
  async beforeMount() {
    try {
      if (this.$route.params.pollId) {
        await store.dispatch.pollModule.fetchPoll(this.$route.params.pollId);
      } else {
        store.commit.pollModule.SET_POLL({
          date: "",
          title: "",
          choices: [],
          description: ""
        });
      }
    } catch (err) {
      console.error(err);
    }
    store.commit.navigationModule.SET_SIDE_PANEL_COMPONENT("ChoiceAdd");
    store.commit.navigationModule.SET_SIDE_PANEL_TITLE("Nouvelle option");
    store.commit.navigationModule.SET_DRAWER_DISPLAY(false);
  },
  beforeDestroy() {
    store.commit.navigationModule.SET_DRAWER_DISPLAY(true);
    store.commit.navigationModule.SET_SIDE_PANEL_DISPLAY(false);
  }
});
</script>

<style lang="scss">
.v-stepper__header {
  box-shadow: none;
}
</style>
