<template>
  <v-navigation-drawer
    v-model="display"
    app
    fixed
    touchless
    width="150"
    disable-resize-watcher
    mobile-breakpoint="200"
  >
    <v-list dense nav class="py-0">
      <v-list-item>
        <v-list-item-content>
          <v-list-item-title class="title font-weight-medium"
            >Poll R</v-list-item-title
          >
        </v-list-item-content>
      </v-list-item>

      <v-divider class="my-3"></v-divider>

      <v-list-item :to="{ name: 'polls' }" link>
        <v-list-item-title>
          <v-icon left>{{ mdiCalendarBlank }}</v-icon
          >Sondages
        </v-list-item-title>
      </v-list-item>
      <v-list-item :to="{ name: 'poll-add' }" link>
        <v-list-item-title>
          <v-icon left>{{ mdiCalendarPlus }}</v-icon
          >Ajouter
        </v-list-item-title>
      </v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>

<script lang="ts">
import Vue from "vue";
import store from "@/store";
import { mdiCalendarBlank, mdiCalendarPlus } from "@mdi/js";
import { NavigationDrawer } from "@/store/modules/navigation";

export default Vue.extend({
  name: "drawer",
  data() {
    return { mdiCalendarBlank, mdiCalendarPlus };
  },
  computed: {
    drawer(): NavigationDrawer {
      return store.getters.navigationModule.drawer;
    },
    display: {
      set(state: boolean) {
        store.commit.navigationModule.SET_DRAWER_DISPLAY(state);
      },
      get() {
        return store.state.navigationModule.drawer.display;
      }
    }
  }
});
</script>

<style></style>
