<template>
  <v-navigation-drawer
    v-model="sidePanel.display"
    disable-resize-watcher
    color
    touchless
    absolute
    right
    width="35%"
  >
    <v-toolbar width="100%" top flat dark color="primary">
      <v-toolbar-items>
        <v-btn @click="closePanel()" icon>x</v-btn>
      </v-toolbar-items>
      <v-toolbar-title>{{ title }}</v-toolbar-title>
    </v-toolbar>
    <v-container style="height:85vh">
      <component v-if="sidePanel.componentName" :is="componentFile"></component>
    </v-container>
    <v-bottom-navigation
      color="primary"
      class="pa-2"
      :value="0"
      grow
      flat
      fixed
    >
      <v-btn class="pa-2">
        <span>Annuler</span>
        <v-icon color="warning">{{ mdiCancel }}</v-icon>
      </v-btn>
      <v-btn class="pa-1">
        <span>Valider</span>
        <v-icon color="success">{{ mdiCheck }}</v-icon>
      </v-btn>
    </v-bottom-navigation>
  </v-navigation-drawer>
</template>

<script lang="ts">
import Vue, { VueConstructor } from "vue";
import store from "@/store";
import { SidePanel } from "@/store/modules/navigation";
import { mdiCheck, mdiCancel } from "@mdi/js";

export default Vue.extend({
  name: "sidePanel",
  data() {
    return {
      mdiCheck,
      mdiCancel,
      activeBtn: 1
    };
  },
  computed: {
    sidePanel(): SidePanel {
      return store.getters.navigationModule.sidePanel;
    },
    sidePanelDisplay: {
      set(display: boolean) {
        store.commit.navigationModule.SET_SIDE_PANEL_DISPLAY(display);
      },
      get(): boolean {
        return this.sidePanel.display;
      }
    },
    title: () => store.getters.navigationModule.sidePanel.title,
    componentFile(): () => Promise<VueConstructor> {
      return this.loadComponent(this.sidePanel.componentName);
    }
  },
  methods: {
    loadComponent(fileName: string): () => Promise<VueConstructor> {
      return () => import(`@/components/${fileName}.vue`);
    },
    closePanel() {
      store.commit.navigationModule.SET_SIDE_PANEL_DISPLAY(false);
    }
  }
});
</script>

<style></style>
