<template>
  <v-container fluid secondary fill-height>
    <v-row justify="center" align="start" class="fill-height">
      <v-col cols="10">
        <v-card>
          <v-toolbar dark flat color="primary">
            <v-toolbar-title class="font-weight-bold title">
              Sondages
            </v-toolbar-title>
            <v-toolbar-items></v-toolbar-items>
          </v-toolbar>
          <router-view></router-view>
          <!-- <v-container fluid fill-height py-0>
            <v-row>
              <v-col cols="2" class="rounded-bl border-right"></v-col>
              <v-divider class="mx-4" vertical></v-divider>
              <v-col class="white rounded-br"></v-col>
            </v-row>
          </v-container>-->
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import Vue from "vue";
import store from "@/store";

export default Vue.extend({
  mounted() {
    store.commit.navigationModule.SET_DRAWER_DISPLAY(true);
  }
});
</script>

<style></style>
