<template>
  <v-container fill-height>
    <v-row>
      <v-col>
        <v-card rounded>
          <v-row>
            <v-col cols="7" class="primary d-flex align-center justify-center">
              <div class="text-center white--text">
                <h2>Poll R</h2>
                <h3 class="subtitle-1">Planning de bénévoles</h3>
              </div>
            </v-col>
            <v-col cols="5">
              <div class="pa-8">
                <h2 class="font-weight-bold my-4">Connexion</h2>
                <v-form v-model="form.valid">
                  <v-text-field
                    outlined
                    name="email"
                    label="E-mail"
                    @input="clearErrors"
                    v-model="user.email"
                    :rules="form.rules.email"
                    :error-messages="form.errorMsg.email"
                  ></v-text-field>
                  <v-text-field
                    counter
                    outlined
                    name="password"
                    type="password"
                    label="Mot de passe"
                    @input="clearErrors"
                    @keyup.enter.native="login"
                    v-model="user.password"
                    :rules="form.rules.password"
                    :error-messages="form.errorMsg.password"
                  ></v-text-field>
                  <v-btn
                    text
                    small
                    to="/reset-password"
                    class="accent--text float-right mb-4"
                    >Mot de passe oublie ?</v-btn
                  >
                  <v-btn
                    block
                    large
                    class="success"
                    @click="login"
                    :disabled="!form.valid"
                    :loading="form.loading"
                    >valider</v-btn
                  >
                </v-form>
              </div>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import store from "@/store";
export default {
  data() {
    return {
      form: {
        loading: false,
        errorMsg: {
          email: [],
          password: []
        },
        rules: {
          email: [
            v => !!v || "L'email est requis",
            v => /.+@.+\..+/.test(v) || "L'email doit être au bon format"
          ],
          password: [
            v => !!v || "Le mot de passe est requis",
            v => v.length >= 8 || "Minimum 8 charactères"
          ]
        },
        valid: false
      },
      user: {
        email: "",
        password: ""
      }
    };
  },
  methods: {
    async login() {
      if (!this.form.valid) return;
      this.form.loading = true;
      try {
        await store.dispatch.userModule.loginByEmail(this.user);
        this.$router.push("admin");
      } catch (err) {
        if (err.name === "password")
          this.form.errorMsg.password.push(err.message);
        else this.form.errorMsg.email.push(err.message);
      } finally {
        this.form.loading = false;
      }
    },
    clearErrors() {
      this.form.errorMsg.email = [];
      this.form.errorMsg.password = [];
    }
  },
  mounted() {
    store.commit.navigationModule.SET_DRAWER_DISPLAY(false);
  }
};
</script>

<style></style>
