<template>
  <v-container
    fluid
    secondary
    fill-height
    :pa-0="$vuetify.breakpoint.smAndDown"
  >
    <v-row justify="center" align="start" class="fill-height">
      <v-col cols="12" md="10" class="py-0">
        <v-card>
          <v-toolbar dark flat color="primary">
            <v-toolbar-title class="font-weight-bold title"
              >Sondages</v-toolbar-title
            >
            <v-spacer></v-spacer>
            <v-btn small light fab color="accent" to="/nouveau-sondage">
              <v-icon large>{{ mdiAdd }}</v-icon>
            </v-btn>
          </v-toolbar>
          <v-progress-linear
            color="accent"
            v-if="loading"
            indeterminate
          ></v-progress-linear>
          <v-list>
            <template v-for="(poll, index, key) in polls">
              <v-list-item :key="key">
                <v-list-item-content>
                  <v-list-item-title>{{ poll.title }}</v-list-item-title>
                  <v-list-item-subtitle>{{ poll.date }}</v-list-item-subtitle>
                </v-list-item-content>
                <v-list-item-action>
                  <v-btn icon color="primary" :to="viewPoll(poll.id)">
                    <v-icon>{{ mdiLook }}</v-icon>
                  </v-btn>
                </v-list-item-action>
                <v-list-item-action>
                  <v-btn icon color="primary" :to="editPoll(poll.id)">
                    <v-icon>{{ mdiEdit }}</v-icon>
                  </v-btn>
                </v-list-item-action>
                <v-list-item-action class="mx-0">
                  <v-btn icon color="error" @click="deletePoll(poll.id)">
                    <v-icon>{{ mdiTrash }}</v-icon>
                  </v-btn>
                </v-list-item-action>
              </v-list-item>
              <v-divider
                v-if="index + 1 < polls.length"
                :key="index"
              ></v-divider>
            </template>
          </v-list>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import Vue from "vue";
import store from "@/store";
import { Poll } from "@/store/modules/poll";
import { mdiEye, mdiFileEdit, mdiPlus, mdiTrashCan } from "@mdi/js";
export default Vue.extend({
  data() {
    return {
      loading: false,
      mdiLook: mdiEye,
      mdiAdd: mdiPlus,
      mdiTrash: mdiTrashCan,
      mdiEdit: mdiFileEdit
    };
  },
  computed: {
    polls(): Poll[] {
      return [...store.getters.pollModule.polls];
    }
  },
  methods: {
    editPoll: (pollId: string): string => `edit-sondage/${pollId}`,
    viewPoll: (pollId: string): string => `sondage/${pollId}`,
    async deletePoll(pollId: string): Promise<void> {
      await store.dispatch.pollModule.deletePoll(pollId);
    }
  },
  async mounted() {
    try {
      this.loading = true;
      await store.dispatch.pollModule.fetchPolls();
      store.commit.navigationModule.SET_DRAWER_DISPLAY(true);
      store.commit.navigationModule.SET_SIDE_PANEL_DISPLAY(false);
    } finally {
      this.loading = false;
    }
  }
});
</script>

<style></style>
