<template>
  <v-container>
    <v-row justify="center">
      <v-col cols="12">
        <v-text-field
          outlined
          label="Titre"
          v-model="choice.title"
        ></v-text-field>
        <v-text-field
          outlined
          label="Sous-titre"
          v-model="choice.subtitle"
        ></v-text-field>
      </v-col>
      <v-col cols="9" sm="12" class="pt-0 d-flex">
        <v-btn
          class="rounded-l-xl primary"
          x-large
          @click="choice.maxUser > 0 ? (choice.maxUser -= 1) : 0"
        >
          <v-icon>{{ mdiMinus }}</v-icon>
        </v-btn>
        <v-text-field
          outlined
          label="Max"
          class="mx-2"
          v-model="choice.maxUser"
        ></v-text-field>
        <v-btn
          class="rounded-r-xl primary"
          x-large
          @click="choice.maxUser += 1"
        >
          <v-icon>{{ mdiPlus }}</v-icon>
        </v-btn>
      </v-col>
      <v-col cols="12">
        <h2>
          Inscrits
          <v-btn
            color="warning"
            @click="removeUsers()"
            v-if="choice.users.length"
          >
            <v-icon left>{{ mdiDelete }}</v-icon>
            Supprimer
          </v-btn>
        </h2>
      </v-col>
      <v-col cols="8" v-if="choice.users.length">
        <v-card class="pa-0 rounded flat outlined">
          <v-list>
            <template v-for="(user, index) in choice.users">
              <v-list-item :key="user.name">
                <v-list-item-content>{{ user.name }}</v-list-item-content>
                <v-list-item-action>
                  <v-btn icon color="error" @click="removeUsers(index)">
                    <v-icon>{{ mdiDelete }}</v-icon>
                  </v-btn>
                </v-list-item-action>
              </v-list-item>
              <v-divider
                v-if="index < choice.users.length - 1"
                :key="index"
              ></v-divider>
            </template>
          </v-list>
        </v-card>
      </v-col>
      <v-col cols="10">
        <v-btn block x-large color="accent" @click="saveChoice">
          {{ this.edit ? "Sauver" : "Ajouter" }}
        </v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import Vue from "vue";
import store from "@/store";
import { mdiMinus, mdiPlus, mdiDelete } from "@mdi/js";
import { PollUser } from "@/store/modules/poll";
const emptyOption = {
  title: "",
  maxUser: 0,
  subtitle: "",
  users: [] as PollUser[]
};

export default Vue.extend({
  data() {
    return {
      mdiPlus,
      mdiMinus,
      mdiDelete,
      choice: emptyOption
    };
  },
  computed: {
    edit: (): boolean => store.state.pollModule.choice.edit,
    index: (): number => store.state.pollModule.choice.index,
    open: (): boolean => store.getters.navigationModule.sidePanel.display
  },
  watch: {
    open(display: boolean) {
      if (display) {
        this.setChoice(this.index);
      }
    }
  },
  methods: {
    increaseValue() {
      this.choice.maxUser += this.choice.maxUser;
    },
    decreaseValue() {
      if (this.choice.maxUser > 0) {
        this.choice.maxUser -= 1;
      }
    },
    setChoice(index: number): void {
      if (this.edit === false) {
        this.choice = emptyOption;
      } else if (!store.state.pollModule.poll?.choices) {
        this.choice = emptyOption;
      } else if (index !== undefined && index !== null) {
        this.choice = store.state.pollModule.poll.choices[index];
      }
    },
    saveChoice(): void {
      if (this.edit === false) {
        store.commit.pollModule.ADD_NEW_CHOICE({
          index: this.index,
          choice: this.choice
        });
      }
      store.commit.navigationModule.SET_SIDE_PANEL_DISPLAY(false);
    },
    removeUsers(index?: number): void {
      if (index === undefined) {
        this.choice.users = [];
      } else {
        this.choice.users.splice(index, 1);
      }
    }
  }
});
</script>

<style></style>
