<template>
  <v-app>
    <drawer />
    <v-main>
      <router-view></router-view>
    </v-main>
    <side-panel />
  </v-app>
</template>

<script lang="ts">
import Vue from "vue";
import store from "@/store";
import Drawer from "@/components/navigation/Drawer.vue";
import SidePanel from "@/components/navigation/SidePanel.vue";

export default Vue.extend({
  name: "App",
  data: () => ({}),
  mounted() {
    store.dispatch.userModule.authAction();
  },
  components: {
    Drawer,
    SidePanel
  }
});
</script>

<style lang="scss">
body {
  overflow: hidden;
}
</style>
